@media screen and (max-width: 910px) {

  header {
    padding-bottom: 250px;
  }

  header .container {
    display: block;
  }

  .header-left {
    text-align: center;
    padding-top: 50px;
  }

  .header-menu {
    display: block;
  }
  
  .header-menu a {
    color: #656c6e;
  }

  .header-right {
    display: none;
  }

}

@media screen and (max-width: 780px) {

  header {
    padding-bottom: 200px;
  }

  .product {
    padding: 100px 0 50px 0;
  }

  .product ul {
    display: block;
    max-width: 780px;
    width: 100%;
  }

  .product li {
    max-width: 780px;
    width: 100%;
    margin-bottom: 50px;
  }

  .product li a {
    display: flex;
    justify-content: space-between;
  }

  .product img {
    width: 30%;
  }

  .product p {
    width: 60%;
    position: relative;
    top: 20px;
  }

}

@media screen and (max-width: 700px) {

  header {
    padding-bottom: 150px;
  }

  .main .container {
    max-width: 700px;
    width: 80%;
    text-align: left;
  }
  
}

@media screen and (max-width: 580px) {

  header {
    padding-bottom: 100px;
  }

  .main {
    padding: 50px 0;
  }

  .main h1 {
    font-size: 36px;
  }

  .main p {
    font-size: 15px;
  }

  .main .paspol {
    font-size: 30px;
    padding: 0;
  }

  .product {
    padding: 50px 0;
  }

  .product-left {
    margin: 0 auto;
  }

  .product-right {
    display: none;
  }

  .more2 {
    display: block;
    margin: 0 auto;
  }

  .product li a {
    display: block;
  }

  .product img {
    width: 90%;
    position: relative;
    left: 15px;
  }

  .product p {
    width: 80%;
    font-size: 18px;
    position: relative;
    top: -10px;
    left: 10px;
  }

  .news {
    padding: 50px 0;
  }

  .news-left {
    margin: 0 auto;
  }

  .news-right {
    display: none;
  }

  .news section a {
    display: block;
  }

  .news .pic {
    width: 100%;
  }

  .news img {
    max-width: 580px;
  }

  .news .info {
    width: 95%;
  }

  .news .info h1 {
    padding-top: 20px;
  }

  .news .text {
    display: none;
  }

  .share {
    padding: 15px;
  }

  .share .container {
    flex-wrap: wrap;
  }

  .btn {
    width: 40%;
    margin: 5px;
    font-size: 12px;
  }

  .line {
    display: block;
  }

  .footer-list {
    padding: 0;
  }

  .footer-list .container {
    max-width: none;
  }

  .footer-list ul {
    display: block;
  }

  .footer-list li {
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #fff;
  }

  .footer-list li:first-child {
    border: none;
  }

  footer .container {
    display: block;
    text-align: center;
  }

}
